body, html {
  height: 100%;
}

.App {
  text-align: center;
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.UserCardsWrapper{
  margin-left: 200px;
  width: 10%;
  padding: 2rem;
}

.UserCards{
  
}

.Card {
  /* position: absolute; */
  height: 10rem;
  transform-origin: 'center';
  /* -ms-transform: rotate(7deg); IE 9 */
  /* -webkit-transform: rotate(7deg); Safari */
  /* transform: rotate(7deg); */
  padding: 2rem;
}

.CardImage {
  height: 100%;
  border-radius: 4%;
  /* box-shadow: #282c34; */
  box-shadow: .5rem .5rem 1rem #282c34bb;
}
